python-dotenv
elasticsearch
langchain
langchain-community
langchain-voyageai
langchain-anthropic
anthropic
langchain-elasticsearch
google-generativeai==0.8.4
google-ai-generativelanguage
google-auth
streamlit
flask
